#most_top{
  width: 100%;
  height: 36px;
  background: #333333;
}
.container{
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow:hidden;
}
#most_top .container>div,#most_top .container>img{
  float:left;
}
#most_top .slogan{
  height:100%;
  line-height:36px;
  float:left;
  color:#fff;
  margin-right:16px;
}
#most_top img{
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 10px;
}
#most_top .bulletin{
  position: relative;
  height:100%;
  margin-left:10px;
  color: #fff;
}
#most_top .bulletin>ul{
  float:left;
}
#most_top .mt_ad{
  position: absolute;
  left:0;
  top:0;
  width:240px;
  height:216px;
}
#most_top .mt_ad li{
  width:100%;
  height:36px;
  line-height:36px;
}
#most_top .mt_ad li a{
  display: inline-block;
  width:100%;
  height:100%;
}
#most_top .load{
  height: 100%;
  float: right;
}
#most_top .load li{
  height:100%;
  float: left;
  line-height:36px;
  color: #fff;
}
#most_top .load li a{
  padding: 0 12px;
  height: 100%;
  text-align: center;
  line-height: 36px;
  float: left;
  color: #ffffff;
}
#most_top .load li span{
  display: inline-block;
  height: 100%;
  line-height: 36px;
  color: #ffffff;
  font-size: 10px;
}
/*****************head***********************/
#header{
  width:100%;
  height: 110px;
  border-bottom: 1px solid #D9D9D9;
  background: #fff;
}
#header .container>a{
  float:left;
  margin-top:27.5px;
}
#header .container>a img{
  width:130px;
}
#header .search{
  height: 36px;
  float:right;
  margin-top: 30px;
  margin-right: 17px;
  position: relative;
}
#header .search-box{
  width: 500px;
  height: 36px;
  float: left;
  position: relative;
  border-radius: 6px;
  border: 2px solid #669ACC;
  margin-right: 210px;
  box-sizing:border-box;
}
#header .search-box input{
  width: 436px;
  height: 32px;
  border-radius: 6px;
  border: none;
  padding-left: 18px;
  text-align: left !important;
  line-height: 32px;
  color: #333;
  box-sizing:border-box;
  font-size:12px;
}
#header .search-box input::-webkit-input-placeholder{
  font-size:12px;
  color:#ddd;
  line-height:32px;
}
#header .search-box .search-btn{
  width: 60px; 
  height: 32px;
  float: right;
  background: #669ACC;
  cursor: pointer;
}
#header .search-box .search-btn .search-icon{
  width: 20px;
  height: 20px;
  background: url(../images/Icon_search_white.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  margin: 6px 20px;
}
#header .search-box .hotWords{
  width: 500px;
  height: 30px;
  letter-spacing: -4px;
  overflow: hidden;
  text-align: left;
}
#header .search-box .hotWords a:nth-child(1){
  margin-left: 0;
}
#header .search-box .hotWords a{
  height: 10px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 12px;
  line-height: 8px;
  color: #999;
  margin-top: 11px;
  margin-left: 10px;
  padding-right: 10px;
}
#header .car{
  float:right;
  cursor: pointer;
  height: 36px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  vertical-align: top;
  padding: 0 14px;
  letter-spacing: -4px;
  margin-top:30px;
}
#header .car span{
  font-size: 14px;
  color: #333;
  margin-right: 6px;
  vertical-align: top;
  line-height: 34px;
  letter-spacing: 0;
}
#header .car img{
  height: 20px;
  width: 20px;
  margin-top: 7px;
  margin-right: 9px;
}
#header .car .bag_num{
  background: #E33955;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 11px;
  color: #ffffff;
  font-size: 12px;
  margin-top: 6px;
}
/*******************************/
.wrap{
  width: 100%;
  position: relative;
}
/********************slider********************/
#slider{
  width:1170px;
  height:420px;
  position: relative;
  margin: 0 auto;
}
#slider .slider_con{
  width: 1920px;
  height: 420px;
  position: absolute;
  left: -375px;
}
#slider .arrow-left{
  position: absolute;
  left: 585px;
  top: 42%;
  width: 40px;
  height: 64px;
  background: #6699cc;
  z-index: 999;
  border-radius: 4px;
  font-size: 20px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
#slider .arrow-right{
  position: absolute;
  right: 413px;
  top: 42%;
  width: 40px;
  height: 64px;
  background: #6699cc;
  z-index: 999;
  border-radius: 4px;
  font-size: 20px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
#slider a div{
  width: 17px;
  height: 33px;
  margin-left: 11.5px;
  margin-top: 15.5px;
  background: url(../images/arrows.png) no-repeat 0 2px;
}
#slider a.arrow-right div{
  width: 17px;
  height: 33px;
  margin-left: 11.5px;
  margin-top: 15.5px;
  background: url(../images/arrows.png) no-repeat 0 -30px;
}
#slider .slider_btn{
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
  z-index: 6;
}
#slider .slider_btn .swiper-btn{
  display: inline-block;
  width: 24px;
  height: 4px;
  background: #ffffff;
  margin: 0 3px;
  cursor: pointer;
}
#slider .slider_btn .swiper-btn-active{
  background: #6699cc;
}
#slider .slider_wrapper{
  width:1920px;
  height:420px;
  position: relative;
  overflow: hidden;

}
#slider .slider_wrapper .swiper-item{
  width:1920px;
  height:420px;
  float:left;
  position:absolute;
}
#slider .slider_wrapper .swiper-active{
  z-index:2;
}
#slider .slider_wrapper .swiper-item img{
  width:100%;
  height:100%;
}
/******************typeList*********************/
#typeList{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -585px;
  width: 200px;
  height: 420px;
  z-index: 7;
  background: #f5f5f5;
  background: rgba(245,245,245,.98);
}
#typeList .typeLi{
  background-color: rgb(245, 245, 245);
  opacity: 0.98;
  width:100%;
  height:60px;
  cursor: pointer;
}
#typeList li .listImg{
  width: 20px;
  height: 20px;
  margin: 20px 20px 0 20px;
  float: left;
}
#typeList li .listName{
  width:140px;
  height:100%;
  line-height:60px;
  float:left;
  font-size:16px;
  color:#333;
}
#typeList li .hideUl{
  position:absolute;
  width:270px;
  height:420px;
  top:0;
  left:200px;
  background: #fff;
  opacity: .98;
  padding-top: 20px;
}
#typeList li .hideUl2{
  position: absolute;
  width: 270px;
  height: 420px;
  top: 0;
  left: 470px;
  background: #fff;
  opacity: .98;
  padding-top: 20px;
}
#typeList li .hideUl3{
  position: absolute;
  width: 270px;
  height: 420px;
  top: 0;
  left: 740px;
  background: #fff;
  opacity: .98;
  padding-top: 20px;
}
#typeList li .hideUl li{
  width:100%;
  height:40px;
  margin-bottom:28px;
}
#typeList li .hideUl li .childimg{
  display: inline-block;
  width:40px;
  height:40px;
  margin-left:30px;
}
#typeList li .hideUl li span{
  margin-left: 20px;
  width: 180px;
  height: 100%;
  float: right;
  line-height: 40px;
  font-size: 14px;
}
#typeList li .hideUl2 li{
  width:100%;
  height:40px;
  margin-bottom:28px;
}
#typeList li .hideUl2 li .childimg{
  display: inline-block;
  width:40px;
  height:40px;
  margin-left:30px;
}
#typeList li .hideUl2 li span{
  margin-left: 20px;
  width: 180px;
  height: 100%;
  float: right;
  line-height: 40px;
  font-size: 14px;
}
#typeList li .hideUl3 li{
  width:100%;
  height:40px;
  margin-bottom:28px;
}
#typeList li .hideUl3 li .childimg{
  display: inline-block;
  width:40px;
  height:40px;
  margin-left:30px;
}
#typeList li .hideUl3 li span{
  margin-left: 20px;
  width: 180px;
  height: 100%;
  float: right;
  line-height: 40px;
  font-size: 14px;
}
/***************hot***************************/
.hot {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.hot .hot-head {
  width: 100%;
  height: 31px;
  margin-top: 56px;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  float: left;
  cursor: pointer;
}
.hot .listUl {
  width: 100%;
}
.hot .listUl .list {
  width: 1200px;
  margin-left: -27px;
}
.hot .listUl .list .listLi {
  width: 270px;
  height: 331px;
  display: inline-block;
  margin-left: 27px;
  position: relative;
  cursor: pointer;
}
.hot .listUl .list .listLi .label {
  width: 36px;
  height: 40px;
  position: absolute;
  right: 26px;
  top: -5px;
  z-index: 8;
}
.hot .listUl .list .listLi .label .labelBox {
  width: 41px;
  height: 40px;
}
.new {
  background: url(../images/new.png) no-repeat 0 0;
}
.hot .listUl .list .listLi .label .labelBox .labelName {
  width: 36px;
  height: 40px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
}
.hot .listUl .list .listLi .liImg {
  width: 270px;
  height: 270px;
  float: left;
}
.hot .listUl .list .listLi .liImg img {
  width: 100%;
  height: 100%;
}
.hot .listUl .list .listLi .goodName {
  float: left;
  width: 100%;
  height: 42px;
  padding: 0 30px;
  line-height: 42px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot .listUl .list .listLi .goodPrice {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #e33955;
  text-align: center;
}
/**********左侧导航栏******************/
.fixed {
  position: fixed;
  left: 50%;
  margin-left: -705px;
  top: 300px;
  width: 100px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
.change{
  background:#F5F5F5;
  color: rgb(102, 153, 204)!important;
}
.default {
  position: absolute;
  left: -120px;
  top: 0;
  width: 100px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
.default div {
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #E5E5E5;
  line-height: 36px;
  text-align: center;
}
.default div a {
  display: block;
  width: 100%;
  height: 100%;
}
.default ul {
  width: 100%;
}
.default ul li {
  width: 100%;
  height: 36px;
  font-size: 12px;
  color: #333;
  text-align: center;
  line-height: 36px;
}
.default ul li a {
  display: block;
}
.default ul .nav-img {
  width: 100%;
  height: 100px;
  margin: -6px 0 -8px 0;
}
.default ul .nav-img img {
  width: 100%;
  height: 100%;
}
/********/
.fixed div {
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #E5E5E5;
  line-height: 36px;
  text-align: center;
}
.fixed div a {
  display: block;
  width: 100%;
  height: 100%;
}
.fixed ul {
  width: 100%;
}
.fixed ul li {
  width: 100%;
  height: 36px;
  font-size: 12px;
  color: #333;
  text-align: center;
  line-height: 36px;
}
.fixed ul li a {
  display: block;
}
.fixed ul .nav-img {
  width: 100%;
  height: 100px;
  margin: -6px 0 -8px 0;
}
.fixed ul .nav-img img {
  width: 100%;
  height: 100%;
}
/**********backtop***********/
.rightFixed {
  position: fixed;
  left: 50%;
  margin-left: 605px;
  bottom: 100px;
}
.nav-right {
  width: 70px;
  z-index: 8;
}
.nav-right div .gouwudai, .nav-right div .backTop {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
.nav-right div {
  width: 100%;
  height: 70px;
  border-radius: 4px;
}
#serviceBtn {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
  cursor: pointer;
  background: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#serviceBtn .serviceBtnName {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  height: 14px;
}
#serviceBtn .serviceBtnIcon {
  width: 22px;
  height: 23px;
  background: url(../images/service.png) no-repeat;
  background-size: 100%;
  margin-top: 10px;
  margin-left: 25px;
}

.nav-right .shopping-car {
  border: 1px solid #E5E5E5;
  cursor: pointer;
  background: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-right div img {
  width: 20px;
  height: 20px;
  margin-top: 13px;
  margin-left: 25px;
}
.nav-right div .gouwudai {
  height: 14px;
}
.nav-right .top {
  margin-top: 20px;
  background: #6699CC;
  cursor: pointer;
}
.nav-right div .topIcon {
  width: 14px;
  height: 7px;
  margin-top: 20px;
  margin-left: 28px;
}
.nav-right .top .backTop {
  color: #ffffff;
  margin-top: 3px;
}
.nav-right div .backTop {
  height: 70px;
}
/***************flashSale****************/
.flashSale {
  width: 100%;
  height: 545px;
  background: #ebf0f5;
}
.flashSale .flashSale-box {
  width: 1170px;
  margin: 0 auto;
}
.flashSale .flashSale-box .flashSale-head {
  width: 100%;
  height: 102px;
  padding-top: 56px;
  margin-bottom: 20px;
}
.flashSale .flashSale-box .flashSale-head .daojishi {
  width: 1048px;
  margin-left: 24px;
  float: left;
}
.flashSale .flashSale-box .flashSale-head .daojishi .dapjishi-title {
  float: left;
  width: 112px;
  height: 31px;
  font-size: 14px;
  line-height: 41px;
  color: #666666;
}
.flashSale .flashSale-box .flashSale-head .daojishi .daojishi-time {
  float: left;
  height: 30px;
  width: 118px;
  margin-left: 14px;
}
.flashSale .flashSale-box .flashSale-head .daojishi .daojishi-time .timeLi {
  height: 30px;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
.flashSale .flashSale-box .flashSale-head .daojishi .daojishi-time .timeLi:nth-child(odd) {
  width: 30px;
  border-radius: 15px;
  background: #f2ac66;
  color: #ffffff;
}
.flashSale .flashSale-box .flashSale-head .daojishi .daojishi-time .timeLi:nth-child(even) {
  width: 14px;
  color: #474748;
}
.more-btn {
  font-size: 14px;
  color: #666;
  height: 31px;
  line-height: 31px;
  cursor: pointer;
  float: right;
}
.flashSale .flashSale-list {
  width: 100%;
  height: 400px;
  background: #ffffff;
}
.flashSale .flashSale-list .flashSale-list-left {
  width: 936px;
  height: 400px;
  border-top: 1px solid #E5E5E5;
  float: left;
}

.flashSale .flashSale-list .flashSale-list-right {
  width: 234px;
  height: 400px;
  background: yellow;
  float: left;
  background: url(../images/timeleft.jpg)no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li {
  width: 468px;
  height: 200px;
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  float: left;
  position: relative;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-li-img {
  width: 199px;
  height: 199px;
  float: left;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-li-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-li-title {
  width: 227px;
  float: right;
  margin: 20px 20px;
  cursor: pointer;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-li-title .mainTitle {
  width: 227px;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 16px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-li-title .secondaryTitle {
  font-size: 12px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:vertical;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price {
  width: 227px;
  margin: 10px 20px;
  position: absolute;
  top: 90px;
  right: 0px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price span:nth-child(1) {
  font-size: 14px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price span {
  color: #e33955;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price span:nth-child(2) {
  font-size: 24px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price span:nth-child(3) {
  font-size: 14px;
  color: #999999;
  margin-left: 10px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .good-price span:nth-child(3) {
  font-size: 14px;
  color: #999999;
  margin-left: 10px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .progress-saleCount {
  width: 227px;
  margin: 10px 20px;
  position: absolute;
  top: 117px;
  right: 0px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .progress-saleCount .progress {
  width: 120px;
  height: 10px;
  margin-top: 3px;
  border: 1px solid #E33955;
  border-radius: 5px;
  float: left;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .progress-saleCount .progress div {
  width: 0;
  height: 100%;
  background: #E33955;
  border-radius: 5px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .progress-saleCount .saleCount {
  float: left;
  color: #999;
  margin-left: 5px;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-btn {
  width: 98px;
  height: 28px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 28px;
  margin-right: 151px;
  position: absolute;
  top: 153px;
  right: 0px;
  cursor: pointer;
}
.flashSale .flashSale-list .flashSale-list-left .flashSale-li .flashSale-btn:hover{
  opacity: .9;
}
.btnInt {
  background: #E33955;
  cursor: pointer;
}
/*****************goodchild****************/
.goodType {
  width: 100%;
}
.goodType .goodType-box {
  width: 1170px;
  margin: 0 auto;
}
.goodType .goodType-box .goodTypeChild {
  width: 100%;
  height: 624px;
}
.goodType .goodType-box .goodTypeChild .goodType-head {
  width: 100%;
  height: 31px;
  margin-top: 56px;
  margin-bottom: 20px;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left {
  height: 31px;
  float: right;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left .goodTypeChild-ul {
  float: left;
  height: 31px;
  margin-right: 28px;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left .goodTypeChild-ul .goodTypeChild-li {
  height: 31px;
  font-size: 14px;
  color: #666;
  float: left;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left .goodTypeChild-ul .goodTypeChild-li:NTH-CHILD(1) span {
  display: none;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left .goodTypeChild-ul .goodTypeChild-li span {
  height: 31px;
  line-height: 31px;
  color: #666;
}
.goodType .goodType-box .goodTypeChild .goodType-head .goodType-head-left .goodTypeChild-ul .goodTypeChild-li a {
  height: 31px;
  line-height: 31px;
  color: #666;
  padding: 0 12px;
}
.more-btn {
  font-size: 14px;
  color: #666;
  height: 31px;
  line-height: 31px;
  cursor: pointer;
  float: right;
}
.goodType .goodType-box .goodTypeChild .goodType-list {
  width: 1171px;
  height: 572px;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}
.goodType .goodType-box .goodTypeChild .goodType-list li {
  width: 234px;
  height: 286px;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  cursor: pointer;
  float: left;
}
.goodType .goodType-box .goodTypeChild .goodType-list .firstLi {
  width: 468px;
  height: 286px;
}
.goodType .goodType-box .goodTypeChild .goodType-list li {
  width: 234px;
  height: 286px;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  cursor: pointer;
  float: left;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodType-img {
  float: left;
  width: 234px;
  height: 211px;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodType-img .imgBorder {
  width: 188px;
  height: 188px;
  margin: 23px auto 0 auto;
  overflow: hidden;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodType-img .imgBorder img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodName {
  position: absolute;
  width: 100%;
  height: 16px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 16px;
  float: left;
  color: #333;
  text-align: center;
  top: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodPrice {
  width: 100%;
  height: 19px;
  position: absolute;
  top: 251px;
  line-height: 100%;
  float: left;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodPrice .goodPrice-box {
  width: 100%;
  height: 19px;
  text-align: center;
}
.goodType .goodType-box .goodTypeChild .goodType-list li .goodPrice .goodPrice-box .priceNow {
  font-size: 14px;
  color: #e33955;
}
.noDis {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
/**********************footer***********************/
.footer {
  width: 100%;
  padding-top: 50px;
  background: #F5F5F5;
  margin-top: 80px;
}
.footer .serviceIcon-box {
  width: 1170;
  height: 82px;
}
.footer .serviceIcon {
    width: 1028px;
    height: 40px;
    margin: 0 auto;
    height: 82px;
    background: url(../images/sever-bg.png) no-repeat;
    background-size: 100%;
}
.footer .followUs {
  width: 1170px;
  margin: 0 auto;
  height: 200px;
  padding-left: 100px;
  border-top: 1px solid #D9D9D9;
}
.footer .followUs ul {
  margin-right: 128px;
  float: left;
}
.footer .followUs ul li:first-child {
  margin-top: 40px;
  margin-bottom: 12px;
}
.footer .followUs .us li a {
  display: inline-block;
  margin-right: 14px;
  position: relative;
}
.footer .followUs ul li a {
  font-size: 12px;
  color: #333333;
  line-height: 24px;
}
.footer .followUs ul li:first-child a {
  font-size: 14px;
  color: #333333;
}
.usIcon {
  width: 100%;
  height: 100%;
}
.erweima {
  display: none;
  position: absolute;
  top: 48px;
  left: -26px;
  width: 100px;
  height: 106px;
  background: url(../images/qrBg.png) center no-repeat;
  background-size: 100%;
}
.imgQR {
  width: 88px;
  height: 88px;
  margin-top: 12px;
  margin-left: 6px;
}
.footer .followUs ul:last-child {
  margin-right: 0;
}
.footer .followUs ul li .QRcode {
  width: 100%;
  height: 100px;
}
.footer .link {
  width: 100%;
}
.footer .link .linkBox {
  width: 1170px;
  margin: 0 auto;
  height: 42px;
  padding-left: 100px;
}
.footer .link .linkBox ul {
  width: 100%;
  height: 100%;
}
.footer .link .linkBox ul li {
  float: left;
  margin-right: 28px;
}
.footer .link .linkBox ul li:first-child {
  margin-right: 40px;
}
.footer .link .linkBox ul li a {
  color: #333333;
  font-size: 14px;
}
.copyright {
  width: 100%;
  height: 36px;
  background: #333333;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
}
.copyright a {
  color: #ffffff;
}